---
import VerifySvg from './VerifySvg.astro'
import PostButtons from './PostButtons.astro'

interface Props {
  avatar: string
  user: string
  username: string
  date: string
  image?: string
}

const { avatar, user, username, date, image = '' } = Astro.props
---

<article class="flex items-center border-t border-zinc-800">
  <section class="flex px-5 my-5">
    <div class="mr-5">
      <img
        src={avatar}
        alt={`foto de perfil de ${username}`}
        class="w-12 h-12 rounded-full object-cover"
      />
    </div>

    <div class="md:flex md:flex-col">
      <section class="flex flex-col md:flex-row md:gap-1 justify-center md:justify-start md:items-center">
        <h5 class="flex gap-x-0.5 font-bold">
          {user} <VerifySvg />
        </h5>
        <small class="text-zinc-500">
          <a
            href="https://twitter.com/iangelmanuel"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:underline"
          >{username}</a> · {date}
        </small>
      </section>

      <section class="mt-1 md:mt-0.5 w-[270px] md:w-[500px] lg:w-[450px]">
        <slot />
      </section>
    </div>
  </section>
</article>

<article class="w-1/2 mx-auto pb-3">
  {image && (
    <img
      src={image}
      alt={`foto de ${username}`}
      class="w-full h-full rounded-lg object-cover"
    />
  )}
</article>

<article>
  <section class="flex justify-evenly items-center my-3">
    <PostButtons />
  </section>
</article>
