---
import type { IProject } from '../types/main'

interface Props {
  project: IProject
}

const { project } = Astro.props
const { title, date, description, technologies, github, demo, image } = project
---

<div class="w-full bg-white/10 p-10 rounded-2xl">
  <section class="w-full h-auto object-cover">
    <div>
      <img
        src={image}
        alt={title}
      />
    </div>
  </section>

  <section class="w-full space-y-5">
    <div class="space-y-2">
      <span class="text-sm text-end text-zinc-500">{date}</span>
      <h3 class="text-xl font-bold text-sky-500">{title}</h3>
      <p class="text-zinc-400">{description}</p>
    </div>

    <div class="space-x-1">
      {technologies.map(tech => (
        <small class="bg-sky-500 rounded-full px-2 py-1">{tech.name},</small>
      ))}
    </div>

      <div class="flex gap-5 justify-end items-center">
        <a href={github}>Github</a>
        <a href={demo}>Demo</a>
      </div>
  </section>
  
</div>
